{{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.platform) }}
    {{ form_row(form.isActive) }}
    <button class="button">{{ button_label|default('Save Project') }}</button>
{{ form_end(form) }}
