{% extends 'base.html.twig' %}

{% block title %}Edit {{ project.name }} | Bug Report Platform{% endblock %}

{% block body %}
    <div class="page-header">
        <div>
            <h1>Edit Project</h1>
            <p class="muted">{{ project.name }}</p>
        </div>
        <a class="button button-secondary" href="{{ path('app_admin_project_index') }}">Back to Projects</a>
    </div>

    <section class="panel stack">
        {{ include('admin/project/_form.html.twig', {'button_label': 'Update Project'}) }}
        {{ include('admin/project/_delete_form.html.twig') }}
    </section>
{% endblock %}
